**/*.local.*
**/node_modules/**
**/dist/**
**/artifacts/**
**/output/**

temp

# Python stuff
*.pyc
env

# Generated
db-schema
k8s/manifest.yml
src/roles/web/js/client.ts
src/api/routes.ts
src/swagger.json

