#
# This compose file is intended to overlay the base compose file (and perhaps dev) with
# configuration for running and debugging tests.
#
version: "3.4"

services:

  # For CI / ad-hoc test running
  tests:
    build:
      context: ./
      target: tests
      dockerfile: ./dockerfile

    stdin_open: true
    tty: true

    volumes:
      # Mount coverage folder to get coverage out
      - ./coverage:/build/coverage/:cached
      - ./dist:/build/dist/:delegated
      - ./dist/tests:/app/tests/:delegated
      - ./src/roles:/app/src/roles:delegated
      - ./src/roles/tests/intern.json:/app/tests/intern.json

    environment:
      PRIMO_ENV: dev
      PRIMO_DB_HOSTNAME: db
      PRIMO_DB_USERNAME: dev
      PRIMO_DB_PASSWORD: dev


  # For debugging in-container
  tests_debugging:
    command: yarn role:tests:dev
    build:
      context: ./
      target: tests
      dockerfile: ./dockerfile

    stdin_open: true
    tty: true
    ports:
      - "9231:9229"

    volumes:
      # Mount coverage folder to get coverage out
      - ./coverage:/build/coverage/:cached
      - ./dist:/build/dist/:delegated
      - ./dist/tests:/app/tests/:delegated
      - ./src/roles:/app/src/roles:delegated
      - ./src/roles/tests/intern.json:/app/tests/intern.json

    environment:
      PRIMO_ENV: dev
      PRIMO_DB_HOSTNAME: db
      PRIMO_DB_USERNAME: dev
      PRIMO_DB_PASSWORD: dev


  api:
    image: primordialimages.azurecr.io/primo-api:latest # TAGPLACEHOLDER
    command: yarn role:api:dev
    build:
      context: ./
      target: api
      dockerfile: ./dockerfile
    volumes:
      - ./dist/common:/app/common/:delegated
      - ./dist/common-backend:/app/common-backend/:delegated
      - ./dist/api:/app/api/:delegated
      - ./src/roles:/app/src/roles:delegated


  worker:
    image: primordialimages.azurecr.io/primo-worker:latest # TAGPLACEHOLDER
    command: yarn role:worker:dev
    build:
      context: ./
      target: worker
      dockerfile: ./dockerfile
    volumes:
      - ./dist/common:/app/common/:delegated
      - ./dist/common-backend:/app/common-backend/:delegated
      - ./dist/worker:/app/worker/:delegated
      - ./src/roles:/app/src/roles:delegated