#
# This compose file is intended primarily for building and local development.
# In staging/production environments, Kubernets is used solely as the orchestrator.
#
version: "3.4"

services:

  # PostgreSQL/TimescaleDB for persistence and time-series optimization
  db:
    image: timescaledev/timescaledb:latest-pg11
    hostname: db
    restart: always
    ports:
      - 5432:5432

    volumes:
      - db_tests:/var/lib/postgresql
    environment:
      POSTGRES_DB: primo
      POSTGRES_USER: primo
      POSTGRES_PASSWORD: primo


  # Redis - for session handling and caching
  redis:
    image: redis:6.0.8-alpine
    restart: always
    entrypoint: 
      - 'redis-server'
      - '--save 900 1'
      - '--save 300 10'
      - '--save 60 10000'
      - '-appendonly no'
    volumes:
      - redis:/data


  # RabbitMQ for durable message passing
  mq:
    hostname: queue
    image: rabbitmq:3.8.19
    restart: always
    volumes:
      - mq_log:/var/log/rabbitmq/mnesia
      - mq_data:/var/lib/rabbitmq/mnesia
    environment:
      RABBITMQ_DEFAULT_USER: primo
      RABBITMQ_DEFAULT_PASSWORD: primo


  # Azurite for local development of storage services
  storage:
    image: mcr.microsoft.com/azure-storage/azurite
    restart: always


  # Node-based worker role
  worker:
    hostname: worker
    image: primordialimages.azurecr.io/primo-worker:latest # TAGPLACEHOLDER
    build:
      context: ./
      target: worker
      dockerfile: ./dockerfile
    depends_on:
      - redis
      - mq
      - db


  # Node-based API server
  api:
    hostname: api
    image: primordialimages.azurecr.io/primo-api:latest # TAGPLACEHOLDER
    build:
      context: ./
      target: api
      dockerfile: ./dockerfile
    depends_on:
      - redis
      - mq
      - db
    ports:
      - 8000


  # Node-based web frontend
  web:
    hostname: web
    image: primordialimages.azurecr.io/primo-web:latest # TAGPLACEHOLDER
    build:
      context: ./
      target: web
      dockerfile: ./dockerfile
    depends_on:
      - api
    ports:
      - 80


  tests:
    build:
      context: ./
      target: tests
      dockerfile: ./dockerfile

    stdin_open: true
    tty: true

    volumes:
      # Mount coverage folder to get coverage out
      - ./coverage:/build/coverage/:cached
      - ./dist:/build/dist/:delegated
      - ./dist/tests:/app/tests/:delegated
      - ./src/roles:/app/src/roles:delegated
      - ./src/roles/tests/intern.json:/app/tests/intern.json

    environment:
      PRIMO_ENV: dev
      PRIMO_DB_HOSTNAME: db
      PRIMO_DB_USERNAME: dev
      PRIMO_DB_PASSWORD: dev


  ## Python trading bot PoC
  #tradebot:
  #  image: primordialimages.azurecr.io/primo-tradebot-poc:latest # TAGPLACEHOLDER
  #  build:
  #    context: ./
  #    target: tradebot-poc
  #    dockerfile: ./dockerfile
  #  depends_on:
  #    - redis
  #    - mq
  #    - db


volumes:
  redis:
  db:
  mq_data:
  mq_log:
  db_tests:
