#
# This compose file is intended primarily for building and local development.
# In staging/production environments, Kubernets is used solely as the orchestrator.
#
version: "3.4"

services:

  # PostgreSQL/TimescaleDB for persistence and time-series optimization
  db:
    image: timescaledev/timescaledb:latest-pg11
    hostname: db
    ports:
      - 5432:5432

    volumes:
      - db_tests:/var/lib/postgresql
    environment:
      POSTGRES_DB: primo
      POSTGRES_USER: primo
      POSTGRES_PASSWORD: primo


  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "8777:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=user@domain.com
      - PGADMIN_DEFAULT_PASSWORD=dev
    depends_on:
      - db
    volumes:
      - pgadmin:/var/lib/pgadmin


  api:
    image: primordialimages.azurecr.io/primo-api:latest # TAGPLACEHOLDER
    command: yarn role:api:dev
    build:
      context: ./
      target: api
      dockerfile: ./dockerfile
    depends_on:
      - db
    ports:
      - 8000:8000
      - 8010:8010
      - 9229:9229
    volumes:
      - ./dist/common:/app/common/:delegated
      - ./dist/common-backend:/app/common-backend/:delegated
      - ./dist/api:/app/api/:delegated
      - ./src/roles:/app/src/roles:delegated


  # Node-based scheduler/coordinator
  spooler:
    hostname: spooler
    image: primordialimages.azurecr.io/primo-spooler:latest # TAGPLACEHOLDER
    command: yarn role:spooler:dev
    build:
      context: ./
      target: spooler
      dockerfile: ./dockerfile
    depends_on:
      - db
    ports:
    - 9233:9229
    volumes:
      - ./dist/common:/app/common/:delegated
      - ./dist/common-backend:/app/common-backend/:delegated
      - ./dist/spooler:/app/spooler/:delegated
      - ./src/roles:/app/src/roles:delegated


  web:
    ports:
      - 8888:80
    volumes:
      - ./src/roles/web/:/www/app/
      - ./src/roles/web/nginx.conf:/etc/nginx/nginx.conf
      - ./dist/web/built:/www/app/built
      - ./dist/web/js/:/www/app/js/


  worker:
    image: primordialimages.azurecr.io/primo-worker:latest # TAGPLACEHOLDER
    command: yarn role:worker:dev
    build:
      context: ./
      target: worker
      dockerfile: ./dockerfile
    depends_on:
        - db
    ports:
      - "9230:9229"
    volumes:
      - ./dist/common:/app/common/:delegated
      - ./dist/common-backend:/app/common-backend/:delegated
      - ./dist/worker:/app/worker/:delegated
      - ./src/roles:/app/src/roles:delegated

volumes:
  pgadmin:
