#
# This compose file is intended to overlay the base compose file (and perhaps dev) with
# configuration for running and debugging tests.
#
version: "3.4"

services:

  # Test database. Should match the dev database, and both should match the Azure Postgres version.
  db:
    image: timescaledev/timescaledb:latest-pg11
    hostname: db

    ports:
      - "5433:5432"
    volumes:
      - db_tests:/var/lib/postgresql
    environment:
      POSTGRES_DB: primo
      POSTGRES_USER: primo
      POSTGRES_PASSWORD: primo


  # For CI / ad-hoc test running
  tests:
    build:
      context: ./
      target: tests
      dockerfile: ./dockerfile
    stdin_open: true
    tty: true
    depends_on:
      - db
      - redis
    environment:
      PRIMO_MODE: test
      PRIMO_DB_HOSTNAME: db
      PRIMO_DB_USERNAME: primo
      PRIMO_DB_PASSWORD: primo
    volumes:
      # Mount coverage folder to get coverage out
      - ./coverage:/build/coverage/:cached
      - ./dist/common:/app/common:delegated
      - ./dist/common-backend:/app/common-backend:delegated
      - ./dist/api:/app/api:delegated
      - ./dist/tests:/app/tests:delegated
      - ./dist/worker:/app/worker:delegated
      - ./src/roles:/app/src/roles:delegated
      - ./src/roles/tests/intern.json:/app/tests/intern.json


  # For debugging in-container
  debug:
    command: yarn role:tests:dev
    build:
      context: ./
      target: tests
      dockerfile: ./dockerfile

    stdin_open: true
    tty: true
    ports:
      - "9231:9229"
    environment:
      PRIMO_MODE: test
      PRIMO_DB_HOSTNAME: db
      PRIMO_DB_USERNAME: primo
      PRIMO_DB_PASSWORD: primo

    volumes:
      # Mount coverage folder to get coverage out
      - ./coverage:/build/coverage/:cached
      - ./dist/common:/app/common:delegated
      - ./dist/common-backend:/app/common-backend:delegated
      - ./dist/api:/app/api:delegated
      - ./dist/tests:/app/tests:delegated
      - ./dist/worker:/app/worker:delegated
      - ./src/roles:/app/src/roles:delegated
      - ./src/roles/tests/intern.json:/app/tests/intern.json



  api:
    image: primordialimages.azurecr.io/primo-api:latest # TAGPLACEHOLDER
    command: yarn role:api:dev
    build:
      context: ./
      target: api
      dockerfile: ./dockerfile
    environment:
      PRIMO_MODE: test
      PRIMO_DB_HOSTNAME: db
      PRIMO_DB_USERNAME: primo
      PRIMO_DB_PASSWORD: primo
    volumes:
      - ./dist/common:/app/common/:delegated
      - ./dist/common-backend:/app/common-backend/:delegated
      - ./dist/api:/app/api/:delegated
      - ./src/roles:/app/src/roles:delegated


  # Node-based scheduler/coordinator
  spooler:
    hostname: spooler
    image: primordialimages.azurecr.io/primo-spooler:latest # TAGPLACEHOLDER
    build:
      context: ./
      target: spooler
      dockerfile: ./dockerfile
    depends_on:
      - db
    environment:
      PRIMO_MODE: test
      PRIMO_DB_HOSTNAME: db
      PRIMO_DB_USERNAME: primo
      PRIMO_DB_PASSWORD: primo
    volumes:
      - ./dist/common:/app/common/:delegated
      - ./dist/common-backend:/app/common-backend/:delegated
      - ./dist/spooler:/app/spooler/:delegated
      - ./src/roles:/app/src/roles:delegated


  worker:
    image: primordialimages.azurecr.io/primo-worker:latest # TAGPLACEHOLDER
    command: yarn role:worker:dev
    build:
      context: ./
      target: worker
      dockerfile: ./dockerfile
    environment:
      PRIMO_MODE: test
      PRIMO_DB_HOSTNAME: db
      PRIMO_DB_USERNAME: primo
      PRIMO_DB_PASSWORD: primo
    volumes:
      - ./dist/common:/app/common/:delegated
      - ./dist/common-backend:/app/common-backend/:delegated
      - ./dist/worker:/app/worker/:delegated
      - ./src/roles:/app/src/roles:delegated
