body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

.primo-app-container, #app-container {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3 {}

h1 {
    flex: 1;
    text-align: center;
    align-self: center;
    font-size: 150%;
}

h2 {
    flex: 1;
    text-align: center;
    align-self: center;
    font-size: 125%;
}

h3 {
    flex: 1;
    text-align: center;
    align-self: center;
    font-size: 100%;
}

/** Screens - Runner */

.primo-screen-runner {
    height: 100%;
    background: url("../img/.moose-shake.jpg") no-repeat;
    background-size: cover;
}

/* Overrides */

.primo-screen-run-backtest .primo-app-menu {
    position: absolute;
}

.primo-screen-runner .primo-spinner {
    color: white;
}