body {
    margin: 0;
    padding: 0;
    /*color: white;
    background: black !important;
    */
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

#app-container {
    min-height: 100vh;
}

h1, h2, h3 {}

h1 {
    flex: 1;
    text-align: center;
    align-self: center;
    font-size: 200%;
}

h2 {
    flex: 1;
    text-align: center;
    align-self: center;
    font-size: 175%;
}

h3 {
    flex: 1;
    text-align: center;
    align-self: center;
    font-size: 150%;
}

/** Screens - Runner */
.primo-screen-runner {
    height: 100%;
    background: url("../img/.moose-shake.jpg") no-repeat;
    background-size: cover;
}

.primo-screen-runner .primo-spinner {
    color: white;
}