body {
    background: black !important;
    display: flex;
    height: 100vh;
}

h1 {
    flex: 1;
    text-align: center;
    align-self: center;
    color: white;
    font-size: 200%;
}

.hero-img-wrapper {
    flex: 1;
    display: flex;
    align-self: center;
    height: 100%;
}

.hero-img {
    flex: 1;
    display: flex;
    height: 100%;
    background: url("../img/test.jpg") no-repeat;
    background-size: cover;
}