body {
    background: black !important;
    display: flex;
    height: 100vh;
}

h1, h2, h3 {
    color: white;
}

h1 {
    flex: 1;
    text-align: center;
    align-self: center;
    color: white;
    font-size: 200%;
}

.hero-img-wrapper {
    flex: 1;
    display: flex;
    align-self: center;
    height: 100%;
}

.hero-img {
    flex: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.hero-text {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50vh;
}

.hero-img {
    height: 100%;
    background: url("../img/test.jpg") no-repeat;
    background-size: cover;
}