/* Utility styles */

.primo-negative {
    color: orange;
}

.primo-positive {
    color: green;
}

.primo-neutral {
    color: #333;
}

.primo-fullheight {
    flex: 1;
}

.primo-fullsize, .primo-tv-chart-container {
    width: 100%;
    height: 100%;
}

.primo-modal {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.primo-modal>* {
    flex: 1;
}


/* Utility styles - Semantics */
.primo-padding-small {
    padding: 1em;
}

.primo-margin-small {
    margin: 1em;
}

.primo-flex-valign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.primo-ellipses {
    text-overflow: ellipsis;
}

/* Cancels */
.MuiGrid-spacing-xs-2 {
    margin: 0 !important;
}
